.movies__cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    grid-gap: 1.5em;
}
.movie__card{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding-bottom: 1em;
}
.movie__card a{
    background: linear-gradient(to right, red, pink);
    display: inline-block;
    padding: .5em 1em;
    align-self: flex-end;
    color: white;
    font-weight: 600;
    margin: .3em .5em 0 0;
    border-radius: .5em;
}
.movies__image{
    width: 100%;
    align-self: center;
    height: 300px;
    object-fit:cover;
    object-position:0 0 0 0;
    transition: all 1s ease;
}

.movies__details{
    padding: .2em 1.5em;
}
.movies__details h2{
    text-align: left;
    font-weight: 700;
    font-size: 1.3em;
    margin: 0 0 1em 0;
}
.movies__details p{
    color: white;
}
.movies__details h5, .movies__details p{
    margin: .5em 0;
}

@media screen and (max-width: 850px) {
    .movies__cards{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}