.back__button{
    padding: 1em;
    margin: 2em 0 0 3em;
    outline: none;
    border: 1px solid black;
    color: lightpink;
    font-weight: 700;
}
.back__button i{
    margin-right: 5px;
}
.video__container{
    width: 95vw;
    border: 2px solid white;
    border-radius: 1em;
    margin: 1em auto;
}
.video__content{
    width: 100%;
    border-radius: 1em;
    outline: none;
}